<div class="pull-right">
    <div class="btn-group">
            <a class="btn btn-mini btn-info action_modal" href="{{path('permissionspanel', {'oi':class~"|"~dt_item~"",'ui':'list'})}}"><i class="icon-lock"></i></a>
            <a class="btn btn-mini btn-yellow" href="{{path(route_edit, {'id':dt_item})}}"><i class="icon-edit"></i></a>
            <a class="btn btn-mini btn-danger"><i class="icon-trash"></i></a>
    </div>
</div>