.row.aboutus-content.comment-view {
    border: 1px solid #EEE;
    padding-top: 10px;
    margin-top: 10px;
}

.row.aboutus-content.comment-view:hover {
    border: 1px solid #333333;
}
.row.aboutus-content.comment-view blockquote {
    font-size: 13px;
}

#paginator {
    clear: both;
    display: flex;
    justify-content: center;
}