{% extends "FrontBundle::layout.html.twig" %}

{% block title %}{{ 'front.aboutus.title' | trans }}{% endblock %}

{% block pagecontent %}
<div id="aboutus">
    <!-- BEGIN PAGE CONTENT-->
    <div class="col-md-12">              
      <div class="row aboutus-content">
         <div class="col-md-12">
            <div class="space20"></div>
            <h3 class="form-section">{{ 'front.aboutus.header' | trans }}</h3>
            <p>{{ appconfig.data.aboutus | raw }}</p>
         </div>
      </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
{% endblock pagecontent %}