{% extends "FrontBundle::layout.html.twig" %}

{% block title %}{{ 'front.global.account.title' | trans }}{% endblock %}

{% block pagecontent %}
    <div id="aboutus">
        <!-- BEGIN PAGE CONTENT-->
        <div class="col-md-12">
            <div class="row aboutus-content">
                <div class="col-md-12">
                    <div class="space20"></div>
                    <h3 class="form-section">{{ 'front.global.account.title' | trans }}</h3>
                    <p>{{ 'front.global.account.message' | trans }}</p>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
{% endblock pagecontent %}